
.calendar {
  width: 100%;
  border: .1rem solid #cbcbcb;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.calendar thead th {
  padding: .5rem;
}

.calendar thead tr:first-child {
  background-color: #fcfcfc;
}

.calendar th,
.calendar td {
  height: 1rem;
  border: 1px solid grey;
  text-align: center;
}


.calendar-locked {
  background-color: #adb6b5;
}

.calendar-selection--allowed {
  background-color: #4caf50;
  cursor: pointer;
}

.calendar-selection--forbidden {
  background-color: #e53935;
  cursor: not-allowed;
}

/* mode
-------------------------------------------------------------- */

.calendar-mode {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  border-top: 1px solid #39434c;
  background-color: #eef2c0;
  text-align: center;
  font-size: 1.2rem;

  //transform: translateY(100%);
}

.calendar-mode button {
  margin-left: 1rem;
  background-color: #3b444b;
  color: #fff;
  font-size: 1rem;
}
