
.calendar {
  width: 100%;
  border: .1rem solid #cbcbcb;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.calendar thead th {
  padding: .5rem;
}

.calendar thead tr:first-child {
  background-color: #fcfcfc;
}

.calendar th,
.calendar td {
  height: 1rem;
  border: 1px solid #37474f;
  text-align: center;
}

.calendar td {
  cursor: pointer;
}

.calendar th::selection,
.calendar td::selection {
  background: transparent;
}

/* bulk
-------------------------------------------------------------- */

.calendar-bulk {
  display: none;
}

[data-mode="locked"] .calendar-bulk {
  display: table-cell;
}

/* event
-------------------------------------------------------------- */

.calendar-event {
    background-color: #28a69b;
    color: #fff;
    cursor: pointer;
}

.calendar-locked {
  background-color: #b0bec5;
}

.calendar-lockedTemp {
  background-color: #b0bec5;
}

.calendar-selection--allowed {
  background-color: #4caf50;
  cursor: pointer;
}

.calendar-selection--forbidden {
  background-color: #e53935;
  cursor: not-allowed;
}

/* mode
-------------------------------------------------------------- */

.calendar-mode {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  border-top: 1px solid #39434c;
  background-color: #eef2c0;
  text-align: center;
  font-size: 1.2rem;
  transition: transform .5s ease;
  transform: translateY(100%);
}

.calendar-mode--active {
  transform: translate(0);
}

.calendar-mode button {
  margin-left: 1rem;
  background-color: #3b444b;
  color: #fff;
  font-size: 1rem;
}
